.App {
  text-align: center;
}

@media (min-width:1300px){
  .cont{
    width:1300px;
    margin:auto;
  }

}

@media (max-width:1299px) and (min-width:1000px){
  .cont{
    padding-left:20px;
    padding-right: 20px;
  }
}

@media (max-width:999px) and (min-width:750px){
  .cont{
    padding-left:10px;
    padding-right: 10px;
  }
}

@media (max-width:749px){
  .cont{
    padding-left:1rem;
    padding-right: 1rem;
  }
}